@import url('bootstrap/dist/css/bootstrap.min.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');
@import url('dontTouch.css');


.ground{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T003934493.webp');
}
.dirt{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004033.320.webp');
}
.stone{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011356.936.webp');
}
.diorita{
    background-image: url('/ExamenAWEBS/public/media/Blocks/Diorite_.webp');
}
.old-stone{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 (3).webp');
}
.solid-stone{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48  (73).webp');
}
.old-solid-stone{
    background-image: url('/ExamenAWEBS/public/media/Blocks/Polished_Deepslate_.webp');
}
.coal{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011305.956.webp');
}
.old-coal{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005020.411.webp');
}
.iron{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004619.288.webp');
}
.gold{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004724.388.webp');
}
.lapiz{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T012422.649.webp');
}
.old-lapiz{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011950.587.webp');
}
.redstone{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 (96).webp');
}
.old-redstone{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011457.682.webp');
}
.emerald{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2023-04-06T012346.139.webp');
}
.old-emerald{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011159.305.webp');
}
.diamond{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06011734.483.webp');
}
.Gravel{
    background-image: url('/ExamenAWEBS/public/media/Blocks/Gravel_.webp');
}
.bedrock{
    background-image: url('/ExamenAWEBS/public/media/Blocks/Bedrock_.webp');
}

.tree-wood{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 -  2024-03-06T004707.905.webp');
}
.tree-front-wood{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T01816.648.webp');
}
.tree-leaves{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011852.348.webp') !important;
}
.plant-1{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004810.463.webp');
}
.plant-2{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T003916.445.webp');
}
.plant-3{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T003906.270.webp');
}
.plant-4{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004026.418.webp');
}
.plant-5{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004209.888.webp');
}
.plant-6{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004701.031.webp');
}
.plant-7{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004810.463.webp');
}
.plant-8{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T004831.138.webp');
}
.plant-9{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005324.960.webp');
}
.plant-10{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005420.884.webp');
}
.plant-11{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005549.890.webp');
}
.plant-12{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005450.708.webp');
}
.plant-13{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005659.522.webp');
}
.plant-14{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T005706.816.webp');
}
.plant-15{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011254.524.webp');
}
.plant-16{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011414.699.webp');
}
.plant-17{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T011543.925.webp');
}
.plant-18{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T012016.655.webp');
}
.plant-19{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T012026.069.webp');
}
.plant-20{
    background-image: url('/ExamenAWEBS/public/media/Blocks/48 - 2024-03-06T013340.946.webp');
}
.water{
    background-image: url('/ExamenAWEBS/public/media/Blocks/Water_.webp');
}

.villager{
    background-image: url('/ExamenAWEBS/public/media/tools/Panicked_Villager.gif');
    background-size: cover;
    margin-top: -3rem;
    height: 6rem;
    background-repeat: no-repeat;
}
.villager-refuses{
    background-image: url('/ExamenAWEBS/public/media/tools/Villager_refusing.gif');
    background-size: cover;
    margin-top: -3rem;
    height: 6rem;
    background-repeat: no-repeat;
    transform: scale(.9);
    position: relative;
    top: 3px;
}
.enchanted-compass{
    background-image: url('/ExamenAWEBS/public/media/tools/Lodestone_Compass_JE2_BE2.gif');
}
.small-chest{
    background-image: url('/ExamenAWEBS/public/media/tools/150px-Chest.webp');
}
.map{
    background-image: url('/ExamenAWEBS/public/media/tools/160px-Map_Zoom_4.webp');
}
.enchanted-book{
    background-image: url('/ExamenAWEBS/public/media/tools/Invicon_Enchanted_Book.gif');
}
.enchanted-pickaxe{
    background-image: url('/ExamenAWEBS/public/media/tools/120px-Enchanted_Diamond_Pickaxe.webp');
}
.enchanted-scissors{
    background-image: url('/ExamenAWEBS/public/media/tools/120px-Enchanted_Shears.webp');
}
.enchanted-apple{
    background-image: url('/ExamenAWEBS/public/media/tools/Invicon_Enchanted_Golden_Apple.gif');
    background-position: center;
    background-repeat: no-repeat;
}
.potion-healing{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Healing.webp');
}
.potion-invisibility{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Invisibility.webp');
}
.potion-luck{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Luck.webp');
}
.potion-night-vision{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Night_Vision.webp');
}
.potion-poison{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Poison.webp');
}
.potion-slowness{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Slowness.webp');
}
.potion-strength{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Strength.webp');
}
.potion-water{
    background-image: url('/ExamenAWEBS/public/media/tools/32px-Potion_of_Water_Breathing.webp');
}
